<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.belajar.calistung.belajarcalistung">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MengenalWarna" />
        <activity android:name=".BelajarHitung" />
        <activity android:name=".BelajarBaca" />
        <activity android:name=".TebakAngka" />
        <activity android:name=".Membaca" />
        <activity android:name=".mengenal_angka" />
        <activity android:name=".LatihanHuruf" />
        <activity android:name=".BelajarLatihanWarna" />
        <activity android:name=".picture.KuisWarna" />
        <activity android:name=".test.Level" />
        <activity android:name=".result.Result" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".MengenalHewan" />
        <activity android:name=".picture.KuisHewan" />
    </application>

</manifest>